results/**
resources/**
logs/**
.snakemake
.snakemake/**
workflow/.DS_Store
config/.DS_Store
config/subreads/
config/refs/
.DS_Store
workflow/rules/__pycache__/
workflow/scripts/__pycache__/
.snakemake-workflow-catalog.yml
